* {
  box-sizing: border-box;
}

/* body {
  background: #fff0ce url("./image/Dark-Blue-Buddhist-Statue-Sitting-in-the-Dark-with-Other-Buddhist-Statues-in-the-Background.jpg") no-repeat center center/cover;
} */

.App {
  width: 90%;
  margin: auto;
  margin-top: 75px;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Loader {
  height: 97.5vh;
  width: 98%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.Loader-logo {
  height: 10vmin;
  pointer-events: none;
  display: block;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  .Loader-logo  {
    animation: Loader-logo-spin infinite 0.8s linear;
  }
}

@keyframes Loader-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-content {
  width: 90%;
}

.App-header {
  background-color: #282c34;
  /* min-height: 10vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Article {
  width: 60%;
  margin: 0 auto;
}

.SignInSignUp {
  width: 450px;
  margin: 0 auto;
  margin-top: 65px;
}

.Modal {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.Form-wrapper {
  width: 60%;
  margin: 0 auto;
  max-width: 450px;
  min-width: 380px;
}

.Form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 18px;
  padding: 40px !important;
  border: 1px solid #dadce0;
  border-radius: 10px;
  background: #fff;
}

.Form-title {
  display: flex;
  justify-content: space-between;
}

.Form .Logo {
  height: 15vmin;
  pointer-events: none;
}

.Form .Button {
  display: flex;
  justify-content: space-between;
}

.Form-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Form-link {
  text-decoration: none;
  color: #00d1b2;
  font-weight: bold;
}

.Title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Title-icon {
  background: #dadce0 !important;
}

.Title-icon:hover {
  background: #00d1b2 !important;
  color: #fff;
}

.Card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 30vmin;
  /* max-height: 40vmin; */
}

.Card-action {
  align-self: flex-end;
}

.Error {
  width: 100%;
  background: #ffcdd2;
  padding: 18.5px;
  text-align: left;
  margin: 0 !important;
  border-left: solid 3px #f44336;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Success {
  width: 100%;
  background: #c8e6c9;
  padding: 18.5px;
  text-align: left;
  margin: 0 !important;
  border-left: solid 3px #4caf50;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Error-icon {
  padding: 12px;
}

.Modal-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.Confirm-modal {
  width: 280px;
  height: 150px;
  margin: auto;
  padding: 23px;
  text-align: center;
  background: #fff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.CM-action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}